header{
    padding-top: 0px;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
  border: 1px solid #ef9a9a;

}


.navbarcustom{
    background: black;
}
.LI{
	color:white;
}

.LI a:hover{

 font-size: 30px;
 font-weight: bold;
}
.NewProduct{
	width:100%;
	height:200px;
	background-color:wheat;
	border-bottom:1px solid black;
	margin-top:10px;
}
.NewPro{
	height:165px;
	border:1px solid black;
	margin-top:5px;
	width:28%;
	margin-left:1%;
	display:inline-block;
	margin-bottom:2px;
}
.BG_MODAL{
   width: 100%;
   height: 100%;
   background-color: rgb(0,0,0,0.7);
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}
.MODAL_CONTENT{
   width: 500px;
   height: 300px;
   background-color: azure;
   border-radius: 4px;
   text-align: center;
   padding: 20px;
   position: relative;
}
.CLOSE{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
	.NewPro{
		width:90%;
	    margin-left: 6%;
	}
	.NewProduct{
		height:auto;
		min-height:200px;
	}
}

































