<!--Category-->

<div class="Category_PAGE">
  <div class="Category_PAGE_Inside" >
    <div class="CLOSECategory_PAGE" style="color: white;">+</div><br><br>
    <button class="accordion" >Cloth </button>
    <div class="panel">
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>

          </div>
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
          </div>

    </div>

    <button class="accordion"> Grocery</button>
    <div class="panel">
            <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>

            </div>
            <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
            </div>

      </div>
      <button class="accordion" >Stationary </button>
    <div class="panel">
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>

          </div>
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
          </div>

    </div>

    <button class="accordion" >Books</button>
    <div class="panel">
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>

          </div>
          <div class="List">
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Product list</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">About</a></li>
          </div>

    </div>
  </div>
</div>