<!-- 2nd last footer -->
<div class="SecondndLastFooterOfWebsite">
        <div class="List4SecondndLastFooter">
                <li style="color:white;"><a><h8><u>About us</u></h8></a></li>
                <li><a  href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
        </div>
        <div class="List4SecondndLastFooter">
                <li style="color:white;"><a><h8><u>Contact us</u></h8></a></li>
                <li><a  href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
        </div>
        <div class="List4SecondndLastFooter">
                <li style="color:white;"><a><h8><u>Acount</u></h8></a></li>
                <li><a  href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
        </div>
        <div class="List4SecondndLastFooter">
                <li style="color:white;"><a><h8><u>Help</u></h8></a></li>
                <li><a  href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
                <li><a href="#" style="color:white;"> CSE</a></li>
        </div>
</div>
<!--last footer  -->
<nav class="navbar bottom navbar-dark bg-dark">
       <h5 style="color:white;">@Copyright</h5>
</nav>
