		    <nav class="navbar top navbar-light">
			    <a class="navbar-brand" href="{% url 'homepage:homepage-index' %}" style="color:black;"><h3>MyStore</h3></a>
                <div class="input-group md-form form-sm form-2 pl-0 mr-auto" style="width:600px;">

                    <form class="form-inline my-5 my-lg-0" action="{% url 'homepage:search' %}" method="post">
                        {% csrf_token %}

                        <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search"
                               name="search_text" value="{{ searched_text }}" aria-label="Search" style="width: 400px;">

                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                </div>

            <a class="mr-auto"><i class="fa fa-android fa-3x "></i></a>
            <a class="mr-auto"><i class="fa fa-phone fa-2x"></i></a>
                {% if not request.user.is_authenticated %}
                      <button class="btn btn-outline-secondary" type="button" id="BUTTON">Login</button>
                {% else %}
                    <li class="dropdown dropleft">
                        <a class=" dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" style="color:black;">Profile</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'user:profile' %}">Account</a>
                            <a class="dropdown-item" href="{% url 'order:list' %}">Orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                {% endif %}
          </nav>
          <nav class="navbar top navbar-light">
            <a href="#" class="mr-auto" style="color:black;"><i class="fa fa-map-marker"> Deliver to <br>Default Address</i></a>
            <a id="Category_PAGEButton" class="navbar-brand mr-auto" style="color:black;"><h5>Categories</h5></a>
            <a class="navbar-brand mr-auto" href="{% url 'Shop:shop-list' %}" style="color:black;"><h5>Shop</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Offer</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Instant Offer</h5></a>

            <a href="{% url 'basket:list' %}"><i class="fa fa-shopping-cart fa-2x"></i></a>
		  </nav>
