<!doctype html>
<html>
    <head>
        <link rel="icon" href="JNVLOGO.png" type="image/gif" sizes="16x16">
                <title>MyStore</title>

        <link rel="stylesheet" href="CSS/Style4index.css">
		<link rel="stylesheet" href="CSS/bootstrap.css">
        <link rel="stylesheet" href="CSS/all.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="JS/bootstrap.min.js"></script>
        <script src="JS/jquery.js"></script>
        <script src="JS/jquery-ui.js"></script>
		<script src="JS/fontawesome.min.js"></script>


        <link rel="stylesheet" href="CSS/jquery-ui.css">
	</head>
	<body>
	    <header>
		    <nav class="navbar top navbar-light">
			    <a class="navbar-brand" href="#" style="color:black;"><h3>MyStore</h3></a>
          <div class="input-group md-form form-sm form-2 pl-0 mr-auto" style="width:600px;">
                  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search.." aria-label="Search">
                      <div class="input-group-append" >
                            <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true" ></i></span>
                      </div>
          </div>
            <a class="mr-auto"><i class="fa fa-android fa-3x "></i></a>
            <a class="mr-auto"><i class="fa fa-phone fa-3x"></i></a>
            <a class="navbar-brand" id="BUTTON" href="#" style="color:black;"><h3>Sign In</h3></a>
            <a class="navbar-brand" href="#" style="color:black;"><h3>/ Up</h3></a>
          </nav>
          <nav class="navbar top navbar-light">
            <a href="#" class="mr-auto" style="color:black;"><i class="fa fa-map-marker"> Deliver to <br>Default Address</i></a>
            <a id="Category_PAGEButton" class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Categories</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Shop</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Offer</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Instant Offer</h5></a>
            <a class="navbar-brand" href="#" style="color:black;"><h3>Profile</h3></a>
            <a ><i class="fa fa-shopping-cart fa-3x"></i></a>
		  </nav>

      </header>


        {% block body %}
        {% endblock %}



      <script>
           document.getElementById('BUTTON').addEventListener('click',function(){
           document.querySelector('.BG_MODAL').style.display='flex';
         });
		//document.getElementById('SIGNUP').addEventListener('click',function(){
		//	document.querySelector('SIGNUPPAGE').style.display='flex';
		//	document.querySelector('SIGNINPAGE').style.display='none';

        // });
		    $(document).ready(function(){
             	$("#SIGNUP").click(function(){
             		$("#SIGNINPAGE").toggle();
             		$("#SIGNUPPAGE").toggle();
             	});
             });
			 $(document).ready(function(){
             	$("#SIGNUP2").click(function(){
             		$("#SIGNINPAGE").toggle();
             		$("#SIGNUPPAGE").toggle();
             	});
             });


           document.querySelector('.CLOSE').addEventListener('click',function(){
           document.querySelector('.BG_MODAL').style.display='none';
		 });

		 //Category Script
		 document.getElementById('Category_PAGEButton').addEventListener('click',function(){
           document.querySelector('.Category_PAGE').style.display='flex';
         });
		 document.querySelector('.CLOSECategory_PAGE').addEventListener('click',function(){
           document.querySelector('.Category_PAGE').style.display='none';
		 });

		 var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                   panel.style.maxHeight = null;
                } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                }
              });
            }



		var slideIndex = 1;
         showSlides(slideIndex);

         function plusSlides(n) {
           showSlides(slideIndex += n+2);
        }

        function showSlides(n) {
          var i,k;
          var slides = document.getElementsByClassName("mySlides");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
             slides[i].style.display = "none";
          }
		  for(i=0;i<slides.length;i++){
                var NewSlides2=[slideIndex-1,slideIndex,slideIndex+1];

            for (k=0; k<3; k++)
                slides[NewSlides2[k]].style.display = "inline-block";
            }

        //slides[slideIndex-1].style.display = "block";
       }
		 var slideIndex2 = 1;
         showSlides2(slideIndex2);

         function plusSlides2(q) {
           showSlides2(slideIndex2 += q+2);
        }

        function showSlides2(q) {
          var i;
          var slides2 = document.getElementsByClassName("mySlides2");
          if (q > slides2.length) {slideIndex2 = 1}
          if (q < 1) {slideIndex2 = slides2.length}
          for (i = 0; i < slides2.length; i++) {
             slides2[i].style.display = "none";
          }
		  for(i=0;i<slides2.length;i++){
                var NewSlides3=[slideIndex2-1,slideIndex2,slideIndex2+1];

            for (k=0; k<3; k++)
                slides2[NewSlides3[k]].style.display = "inline-block";
            }

        //slides2[slideIndex2-1].style.display = "block";
       }
		 var slideIndex3 = 1;
         showSlides3(slideIndex3);

         function plusSlides3(r) {
           showSlides3(slideIndex3 += r+2);
        }

        function showSlides3(r) {
          var i,k;
          var slides3 = document.getElementsByClassName("mySlides3");
          if (r > slides3.length) {slideIndex3 = 1}
          if (r < 1) {slideIndex3 = slides3.length}
          for (i = 0; i < slides3.length; i++) {
             slides3[i].style.display = "none";
          }
		  for(i=0;i<slides3.length;i++){
                var NewSlides2=[slideIndex3-1,slideIndex3,slideIndex3+1];

            for (k=0; k<3; k++)
                slides3[NewSlides2[k]].style.display = "inline-block";
            }

        //slides3[slideIndex3-1].style.display = "block";
       }


	   var slideIndex4 = 1;
         showSlides4(slideIndex4);

         function plusSlides4(n) {
           showSlides4(slideIndex4 += n+5);
        }

        function showSlides4(n) {
          var i;
          var slides4 = document.getElementsByClassName("mySlides4");
          if (n > slides4.length) {slideIndex4 = 1}
          if (n < 1) {slideIndex4 = slides4.length}
          for (i = 0; i < slides4.length; i++) {
             slides4[i].style.display = "none";
          }
		  for(i=0;i<slides4.length;i++){
                var NewSlides4=[slideIndex4-1,slideIndex4,slideIndex4+1,slideIndex4+2,slideIndex4+3,slideIndex4+4];

            for (k=0; k<6; k++)
                slides4[NewSlides4[k]].style.display = "inline-block";
            }

		 // var x = window.matchMedia("(max-width: 700px)")
         //myFunction(x) // Call listener function at run time
         //x.addListener(myFunction)

       }
	    //function myFunction(x) {
		//if (x.matches) {
		//	for(i=0;i<slides.length;i++){
         //   var NewSlides=[slideIndex-1,slideIndex,slideIndex+1];

         //   for (k=0; k<3; k++)
         //        slides[NewSlides[k]].style.display = "inline-block";
         //   }
         // }  else {

          // }
        //}
      </script>
	</body>
  </html>
