    <footer>
        <nav class="navbar" style="height:300px; margin-top: 100%;background-color:black;">
            <ul style="float:left;list-style-type:none;">
                <li style="color:white;"><a><h4>Lorem ipsum</h4></a></li>
                <li><a  href="#" style="color:white;">dolor</a></li>
                <li><a href="#" style="color:white;">sit amet</a></li>
                <li><a href="#" style="color:white;">consectetur</a></li>
            </ul>
            <ul style="float:left;list-style-type:none;">
                <li style="color:white;"><a><h4>Adipisicing</h4></a></li>
                <li><a href="#" style="color:white;"> Aperiam</a></li>
                <li><a href="#" style="color:white;"> enim error</a></li>
                <li><a href="#" style="color:white;"> ducimus</a></li>
            </ul>
            <ul style="float:left;list-style-type:none;">
                <li style="color:white;"><a><h4>Labore</h4></a></li>
                <li><a href="#" style="color:white;"> pariatur</a></li>
                <li><a href="#" style="color:white;"> molestiae</a></li>
                <li><a href="#" style="color:white;"> sapiente</a></li>
            </ul>
            <ul style="float:left;list-style-type:none;">
                <li style="color:white;"><a><h4>About us</h4></a></li>
                <li ><a href="#" style="color:white;"> exercitationem</a></li>
                <li ><a href="#" style="color:white;"> voluptas</a></li>
                <li ><a href="#" style="color:white;"> tempore</a></li>
            </ul>
        </nav>
        <nav class="navbar navbar-dark bg-dark">
             <h5 style="color:white;">@Copyright</h5>
        </nav>
    </footer>
    