<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'homepage/Pics/logo.png' %}" type="image/gif" sizes="16x16">

        <title>MyStore</title>

    <link rel="stylesheet" href="{% static 'homepage/CSS/Style4index.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/CSS/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/CSS/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/CSS/jquery-ui.css' %}">

</head>

	<body style="background-color: yellowgreen">
	    <header>
		    <nav class="navbar top navbar-light">
			    <a class="navbar-brand" href="#" style="color:black;"><h3>MyStore</h3></a>
          <div class="input-group md-form form-sm form-2 pl-0 mr-auto" style="width:600px;">
                  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search.." aria-label="Search">
                      <div class="input-group-append" >
                            <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true" ></i></span>
                      </div>
          </div>
            <a class="mr-auto"><i class="fa fa-android fa-3x "></i></a>
            <a class="mr-auto"><i class="fa fa-phone fa-3x"></i></a>
            <a class="navbar-brand" id="BUTTON" href="#" style="color:black;"><h3>Sign In</h3></a>
            <a class="navbar-brand" href="#" style="color:black;"><h3>/ Up</h3></a>
          </nav>
          <nav class="navbar top navbar-light">
            <a href="#" class="mr-auto" style="color:black;"><i class="fa fa-map-marker"> Deliver to <br>Default Address</i></a>
            <a id="Category_PAGEButton" class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Categories</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Shop</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Offer</h5></a>
            <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Instant Offer</h5></a>
			<li class="dropdown dropleft"><a class=" dropdown-toggle navbar-brand" data-toggle="dropdown" href="#" style="color:black;">Profile</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Link 1</a>
					<a class="dropdown-item" href="#">Link 2</a>
					<a class="dropdown-item" href="#">Link 3</a>
				</div>
			</li>
            <a ><i class="fa fa-shopping-cart fa-3x"></i></a>
		  </nav>
		  
      </header>
	 
	  <div class="container-fluid" style="border-top: 1px solid black">
			
				<div class="SlidSHow">
					<div class="NewProduct ">
						<b>Trending</b><br>
                        {% for product in trending_products %}
                        <div class="NewTemplate mySlides">
							<a href="{% url 'product:productView' product.pk %}"><b style="color: black;">{{ product.name }}</b></a><br>
							<img class="ProductImageNew" src="{{ product.image_link.url }}" alt="producut-pic"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs. {{ product.price }}</del> Price Rs. {{ product.price }}</b><br>
							<a href="#"><img src="/media/transaction.png" class="BuyNowButtonStyle" alt="Buy"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
                        {% endfor %}
<!--
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 2</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 3</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 4</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 5</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 6</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 7</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 8</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div>
						<div class="NewTemplate mySlides">
							<a href="#"><b style="color: black;">Bujhia 9</b></a><br>
							<img class="ProductImageNew" src="Pics/haldiram.png"><br>
							<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
							<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
							<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
						</div> -->


					</div>
					<a class="prev" onclick="myFunction.plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="myFunction.plusSlides(1)">&#10095;</a>
				</div>


		  <div class="SlidSHow4">
		  <div class="ShopList">
			    <b>Nearby Shops</b><br>
{#                {% for shop in nearby_shops %}#}
{#				<div class="Ashop mySlides4">#}
{#					<img class="AshopImage" src="{{ shop.Shop_icon.url }}" alt="shop-icon"><br>#}
{#					<a href="{% url 'Shop:shop-detail' shop.pk %}"><b>{{ shop.title }}</b></a>#}
{#                 {% endfor %}#}
{#			   </div>#}
            {% for shop in nearby_shops %}
			    <div class="Ashop mySlides4">
                <a href="{% url 'Shop:shop-detail' shop.pk %}">
				  <img class="AshopImage" src="{{ shop.Shop_icon.url }}" alt="shop-icon"><br>
				  <b>{{ shop.title }}</b>
                </a>
		        </div>
            {% endfor %}
          <!-- Just for increasing numbers, delete the below forloop -->
            {% for shop in nearby_shops %}
			    <div class="Ashop mySlides4">
                <a href="{% url 'Shop:shop-detail' shop.pk %}">
				  <img class="AshopImage" src="{{ shop.Shop_icon.url }}" alt="shop-icon"><br>
				  <b>{{ shop.title }}</b>
                </a>
		        </div>
                <div class="Ashop mySlides4">
                <a href="{% url 'Shop:shop-detail' shop.pk %}">
				  <img class="AshopImage" src="{{ shop.Shop_icon.url }}" alt="shop-icon"><br>
				  <b>{{ shop.title }}</b>
                </a>
		        </div>
            {% endfor %}
              <!--
				<div class="Ashop mySlides4">
					<img class="AshopImage" src="Pics/KFC.png"><br>
					<a href="#"><b>KFC 3</b></a>
			   </div>
			   <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 4</b></a>
		        </div>
				<div class="Ashop mySlides4">
					<img class="AshopImage" src="Pics/KFC.png"><br>
					<a href="#"><b>KFC 5</b></a>
			   </div>
			    <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 6</b></a>
		        </div>
				<div class="Ashop mySlides4">
					<img class="AshopImage" src="Pics/KFC.png"><br>
					<a href="#"><b>KFC 7</b></a>
			   </div>
			   <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 8</b></a>
		       </div>
			   <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 9</b></a>
		       </div>
			   <div class="Ashop mySlides4">
				   <img class="AshopImage" src="Pics/KFC.png"><br>
				   <a href="#"><b>KFC 10</b></a>
		       </div>
			   <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 11</b></a>
		       </div>
			   <div class="Ashop mySlides4">
				  <img class="AshopImage" src="Pics/KFC.png"><br>
				  <a href="#"><b>KFC 12</b></a>
		       </div> -->
			</div>
			<a class="prev4" onclick="myFunction4.plusSlides4(-1)">&#10094;</a>
				<a class="next4" onclick="myFunction4.plusSlides4(1)">&#10095;</a>
			</div>

			<div class="SlidSHow2">
				<div class="NewProduct">
					<b >Nearby trendigs</b><br>
                    {% for product in nearby_products %}
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">{{ product.name }}</b></a><br>
						<img class="ProductImageNew" src="{{ product.image_link.url }}" alt="product-photo"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="/media/transaction.png" class="BuyNowButtonStyle" alt="Buy"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
                    {% endfor %}
                    <!--
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 2</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 3</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 4</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 5</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 6</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 7</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 8</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides2">
						<a href="#"><b style="color: black;">Bujhia 9</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					-->
				</div>
				<a class="prev2" onclick="myFunction2.plusSlides2(-1)">&#10094;</a>
				<a class="next2" onclick="myFunction2.plusSlides2(1)">&#10095;</a>
			</div>



            

			<div class="SlidSHow3">
				<div class="NewProduct ">
					<b>history</b><br>
                    {% for product in history_product %}
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">{{ product.name }}</b></a><br>
						<img class="ProductImageNew" src="{{ product.image_link.url }}" alt="product-photo"><br>
						<b class="PriceDetailsInTemplate">
                            <del>MRP Rs. {{ product.price }}</del> Price Rs. {{ product.price }}
                        </b><br>
						<a href="#"><img src="/media/transaction.png" class="BuyNowButtonStyle" alt="Buy"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
                    {% endfor %}
<!--
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 2</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 3</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 4</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 5</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 6</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 7</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 8</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
					<div class="NewTemplate mySlides3">
						<a href="#"><b style="color: black;">Bujhia 9</b></a><br>
						<img class="ProductImageNew" src="Pics/haldiram.png"><br>
						<b class="PriceDetailsInTemplate"><del>MRP Rs20</del> Price Rs18</b><br>
						<a href="#"><img src="Pics/transaction (1).png" class="BuyNowButtonStyle"></a>
						<a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
					</div>
	-->
				</div>
				<a class="prev3" onclick="myFunction3.plusSlides3(-1)">&#10094;</a>
				<a class="next3" onclick="myFunction3.plusSlides3(1)">&#10095;</a>
			</div>


          <!-- 2nd last footer -->
        <div class="SecondndLastFooterOfWebsite">
            <div class="List4SecondndLastFooter">
                    <li style="color:white;"><a><h8><u>About us</u></h8></a></li>
                    <li><a  href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
            </div>
            <div class="List4SecondndLastFooter">
                    <li style="color:white;"><a><h8><u>Contact us</u></h8></a></li>
                    <li><a  href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
            </div>
            <div class="List4SecondndLastFooter">
                    <li style="color:white;"><a><h8><u>Acount</u></h8></a></li>
                    <li><a  href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
            </div>
            <div class="List4SecondndLastFooter">
                    <li style="color:white;"><a><h8><u>Help</u></h8></a></li>
                    <li><a  href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
            </div>
        </div>
        <div style="margin-bottom:30px; height:20px; background:white;"></div>
            <!--last footer  -->
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
               <h5 style="color:white;">@Copyright</h5>
        </nav>
	  </div>
	      <!--Pop up page  -->
	      <div class="BG_MODAL">
			<div class="MODAL_CONTENT">
			  <div class="CLOSE">+</div>
			  <form id="SIGNINPAGE">
				<input type="text" placeholder="User Name">
				<input type="password" placeholder="Password">
				<a href="#">Forgot Password?</a>
				<a href="#" class="button">Log In</a>
				<br><br><br>
				<button  type="submit" id="SIGNUP" class="btn"><a href="#">New to Web? Sign up</a></button>
			  </form>
			  <form id="SIGNUPPAGE">
				<input type="text" placeholder="Email/Mobile no">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="ReEnter Password">
				<a href="#" class="button">Sign Up</a>
				<br><br>
				
				<button type="submit" id="SIGNUP2" class="btn"><a href="#">Existing User? Log in</a></button>
			  </form>
			</div>
		  </div>


		  <!--Category-->

		  <div class="Category_PAGE">
			  <div class="Category_PAGE_Inside" >
				<div class="CLOSECategory_PAGE" style="color: white;">+</div><br><br>
				<button class="accordion" >Cloth </button>
				<div class="panel">
					  <div class="List">
                            <li><a href="#">Product list</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Product list</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Product list</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
					  </div>
					  <div class="List">
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
					  </div>
				</div>

				<button class="accordion"> Grocery</button>
				<div class="panel">
						<div class="List">
								  <li><a href="#">Product list</a></li>
								  <li><a href="#">Reviews</a></li>
								  <li><a href="#">About</a></li>
								  <li><a href="#">Product list</a></li>
								  <li><a href="#">Reviews</a></li>
								  <li><a href="#">About</a></li>
								  <li><a href="#">Product list</a></li>
								  <li><a href="#">Reviews</a></li>
								  <li><a href="#">About</a></li>
						</div>
						<div class="List">
							  <li><a href="#">Product list</a></li>
							  <li><a href="#">Reviews</a></li>
							  <li><a href="#">About</a></li>
							  <li><a href="#">Product list</a></li>
							  <li><a href="#">Reviews</a></li>
							  <li><a href="#">About</a></li>
							  <li><a href="#">Product list</a></li>
							  <li><a href="#">Reviews</a></li>
							  <li><a href="#">About</a></li>
						</div>
				  </div>
				  <button class="accordion" >Stationary </button>
				<div class="panel">
					  <div class="List">
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
					  </div>
					  <div class="List">
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
					  </div>
				</div>

                <button class="accordion" >Books</button>
				<div class="panel">
					  <div class="List">
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Product list</a></li>
								<li><a href="#">Reviews</a></li>
								<li><a href="#">About</a></li>
							
					  </div>
					  <div class="List">
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
							<li><a href="#">Reviews</a></li>
							<li><a href="#">About</a></li>
					  </div>
						
				</div>	
			  </div>
		  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'homepage/JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/JS/jquery.js' %}"></script>
    <script src="{% static 'homepage/JS/jquery-ui.js' %}"></script>
    <script src="{% static 'homepage/JS/fontawesome.min.js' %}"></script>

      <script>

           document.getElementById('BUTTON').addEventListener('click',function(){
           document.querySelector('.BG_MODAL').style.display='flex';
         });
		//document.getElementById('SIGNUP').addEventListener('click',function(){
		//	document.querySelector('SIGNUPPAGE').style.display='flex';
		//	document.querySelector('SIGNINPAGE').style.display='none';
           
        // });
		    $(document).ready(function(){
             	$("#SIGNUP").click(function(){
             		$("#SIGNINPAGE").toggle();
             		$("#SIGNUPPAGE").toggle();
             	});
             });
			 $(document).ready(function(){
             	$("#SIGNUP2").click(function(){
             		$("#SIGNINPAGE").toggle();
             		$("#SIGNUPPAGE").toggle();
             	});
             });


           document.querySelector('.CLOSE').addEventListener('click',function(){
           document.querySelector('.BG_MODAL').style.display='none';
		 });

		 //Category Script
		 document.getElementById('Category_PAGEButton').addEventListener('click',function(){
           document.querySelector('.Category_PAGE').style.display='flex';
         });
		 document.querySelector('.CLOSECategory_PAGE').addEventListener('click',function(){
           document.querySelector('.Category_PAGE').style.display='none';
		 });

		 var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight){
                   panel.style.maxHeight = null;
                } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                } 
              });
            }
           //  script code for first slides 
		    function myFunction(y){
		    if (y.matches) {
			var slideIndex = 1;
             showSlides(slideIndex);
			 var x;
			 var A;
		 
            function plusSlides(n) {
				if (n == 1){
                 showSlides(slideIndex += n+4);
				}
				else{
					showSlides(slideIndex -= n+5);
				}
               }
 
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex,slideIndex+1,slideIndex+2,slideIndex+3];
         
             for (A=0; A<5; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}else{
				var slideIndex = 1;
             showSlides(slideIndex);
			 var n;
		 
            function plusSlides(n) {
				if (n == 1){
                 showSlides(slideIndex += n+1);
				}
				else{
					showSlides(slideIndex -= n+2);
				}
               }
 
            function showSlides(n) {
              var i;
			  var A;
              var slides = document.getElementsByClassName("mySlides");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex];
         
             for (A=0; A<2; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}
			 myFunction.plusSlides = plusSlides;
			}
			var y = window.matchMedia("(min-width: 700px)")
            myFunction(y) 
             y.addListener(myFunction)
        
           // end of code for slides one
		
			
		
	   
	       //  script code for 2nd slides 
		    function myFunction2(a){
		    if (a.matches) {
			var slideIndex = 1;
             showSlides(slideIndex);
			 var x;
			 var A;
		 
            function plusSlides2(n) {
				if (n == 1){
                 showSlides(slideIndex += n+4);
				}
				else{
					showSlides(slideIndex -= n+5);
				}
               }
 
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides2");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex,slideIndex+1,slideIndex+2,slideIndex+3];
         
             for (A=0; A<5; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}else{
				var slideIndex = 1;
             showSlides(slideIndex);
			 var n;
		 
            function plusSlides2(n) {
				if (n == 1){
                 showSlides(slideIndex += n+1);
				}
				else{
					showSlides(slideIndex -= n+2);
				}
               }
 
            function showSlides(n) {
              var i;
			  var A;
              var slides = document.getElementsByClassName("mySlides2");
              if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex];
         
             for (A=0; A<2; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}
			 myFunction2.plusSlides2 = plusSlides2;
			}
			var a = window.matchMedia("(min-width: 700px)")
            myFunction2(a) 
             a.addListener(myFunction2)
        
           // end of code for slides 2nd



		      //  script code for third slides 
			  function myFunction3(b){
		    if (b.matches) {
			var slideIndex = 1;
             showSlides(slideIndex);
			 var x;
			 var A;
		 
            function plusSlides3(n) {
				if (n == 1){
                 showSlides(slideIndex += n+4);
				}
				else{
					showSlides(slideIndex -= n+5);
				}
               }
 
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides3");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex,slideIndex+1,slideIndex+2,slideIndex+3];
         
             for (A=0; A<5; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}else{
				var slideIndex = 1;
             showSlides(slideIndex);
			 var n;
		 
            function plusSlides3(n) {
				if (n == 1){
                 showSlides(slideIndex += n+1);
				}
				else{
					showSlides(slideIndex -= n+2);
				}
               }
 
            function showSlides(n) {
              var i;
			  var A;
              var slides = document.getElementsByClassName("mySlides3");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex];
         
             for (A=0; A<2; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}
			 myFunction3.plusSlides3 = plusSlides3;
			}
			var b = window.matchMedia("(min-width: 700px)")
            myFunction3(b) 
             b.addListener(myFunction3)
        
           // end of code for slides one
		    
             




			  //  script code for 4th slides 
			  function myFunction4(c){
		    if (c.matches) {
			var slideIndex = 1;
             showSlides(slideIndex);
			 var x;
			 var A;
		 
            function plusSlides4(n) {
				if (n == 1){
                 showSlides(slideIndex += n+5);
				}
				else{
					showSlides(slideIndex -= n+6);
				}
               }
 
            function showSlides(n) {
              var i;
              var slides = document.getElementsByClassName("mySlides4");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex,slideIndex+1,slideIndex+2,slideIndex+3,slideIndex+4];
         
             for (A=0; A<6; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}else{
				var slideIndex = 1;
             showSlides(slideIndex);
			 var n;
		 
            function plusSlides4(n) {
				if (n == 1){
                 showSlides(slideIndex += n+3);
				}
				else{
					showSlides(slideIndex -= n+4);
				}
               }
 
            function showSlides(n) {
              var i;
			  var A;
              var slides = document.getElementsByClassName("mySlides4");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
		     for(i=0;i<slides.length;i++){
                var NewSlides=[slideIndex-1,slideIndex,slideIndex+1,slideIndex+2];
         
             for (A=0; A<4; A++)
                slides[NewSlides[A]].style.display = "inline-block";
             }
			}
			}
			 myFunction4.plusSlides4 = plusSlides4;
			}
			var c = window.matchMedia("(min-width: 700px)")
            myFunction4(c) 
             c.addListener(myFunction4)
        
           // end of code for slides 4th
      </script>
	</body>
  </html>
