{% load static %}

<div class="NewTemplate mySlides" style="height: 300px;">
    <a href="#"><b style="color: black;">{{ product.name }}</b></a><br>
    <img class="ProductImageNew" src="{{ product.image_link.url }}" alt="product image"><br>
    <b class="PriceDetailsInTemplate"><del>MRP Rs.{{ product.price }}</del>Rs. {{ product.price }}</b><br>
    <a href="#"><img src="/media/transaction.png" class="BuyNowButtonStyle" alt="Buy"></a>
    <a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
</div>
