<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
     maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Context</title>
</head>
<body>

<!--
        'Product_Name': product_data.name,
        'Category': product_data.category,
        'image_link': product_data.image_link,
        'type': product_data.type,
        'Brand': product_data.Brand,
        'Rating': product_data.rating,
        'Product_info': product_data.product_info,
        -->

{% for key, value in context.items %}
    <h4>{{ key }}: {{ value }}</h4>
{% endfor %}
</body>
</html>
