{% extends 'homepage/base.html' %}
{% load static %}

{% block body %}
        <!-- code for laptop -->
        <link rel="stylesheet" href="{% static 'product/CSS/Style4Product3.css' %}">
        <style>body{background-color: #ecf0f1;width:100%;min-height:100%;}</style>

        <div class="CodingOfProductPage4Laptop" >
            <div class="LeftSideProductPage">
                <div style="display: flex;">
                <div class="ProductImg" >
                   <img src="{{ product.image_link.url }}" style="max-width:95%;max-height:400px;margin:2%" alt="product-photo">
                   <a href="#" style="color:black;text-align:center;"><h6>Rate and Report</h6></a>
                </div>
                <div class="PINCheck">
                    <div class="Heading4Product">
                        <h2 style="text-align: left;padding:2%;">{{ product.name }}</h2>
                        <h3 style="text-align: left;padding:3%;padding-top: 0;">By<a href="#" style="padding-left: 2%; text-decoration: none;">Nearest Shop</a></h3>
                    </div>
                    <div class="checkout4product">
                            <h4 style="text-align: left;padding:4%;padding-bottom:0">Features :-</h4>
                    <ul style="border-bottom: 1px solid black;">
                        <li>Type of product : {{ product.type }}</li>
                        <li>Weight :{{ product.weight }}</li>
                        <li>Flavour :{{ product.lavour }}</li>
                        <li>Brand :{{ product.Brand }}</li>
                    </ul>
                        <a href="#More2"><b>More details</b></a>

                            <h4 style="padding: 3%; padding-bottom:  0;">Check availability and COD on your location</h4>
                            <form class="form-inline" style="margin: 3%;margin-top: 0;">
                                <input class="form-control mr-sm-2" type="search" placeholder="Enter your Pincode" aria-label="Search" style="background-color:mintcream">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Check</button>
                            </form>
                    </div>
                </div>
                </div>
                <div id="More2" class="More">
			     <h2>Product Specifications</h2>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			     <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			    </div>
            </div>
            <div class="RightSideProductPage">
                    <div class="BuyProduct ">
                            <div style="border-bottom:1px solid black;">
                                <h5><del>Price Rs 1400</del></h5>
                                <h1>Rs 1200 </h1><a href="#" style="padding-left:20%;">(Know more)</a>
                                <h5>Price per piece Rs 120</h5>
                                <h5>(15% OFF) You saved Rs 200</h5>
                            </div>
                            <div style="border-bottom:1px solid black;">
                                <h3 style="margin-top:10px; margin-bottom:10px;">Buy in bulk & save more</h3>
                            </div>
                            <div>
                                <table class="table">
                                    <thead style="background-color:#f1f1f1;">
                                        <tr>
                                            <th>Select</th>
                                            <th>Quantity</th>
                                            <th>Discount</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>1-4</td>
                                            <td>4%</td>
                                            <td>144/-</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>5-8</td>
                                            <td>10%</td>
                                            <td>135/-</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>9+</td>
                                            <td>15%</td>
                                            <td>120/-</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary" style="width:100%;"><h4>Buy Now</h4></button>
                                <button type="button" class="btn " style="width:100%;background-color:lightgreen;margin-top:10px;color:white;"><h5>Add to cart</h5></button>
                            </div>
                        </div>
            </div>
        </div>

        <!-- Code for Mobile -->
        <div class="CodingOfProductPage4Mobile">
            <div class="FirstSectionOfProductPage4Mobile">
          Nearest Shop</a></h5>
                <img class="ProductImg4Mobile" src="{{ product.image_link.url }}">
                <h6 class="RateAndReview4MobileInProductPage"><a style="color: black;" href="#">Rate and review</a></h6>
                <div class="ShortFeatures4MobileOfAProduct">
                    <h4>Features</h4>
                    <li>Type of product : {{ product.type }}</li>
                    <li>Weight :{{ product.weight }}</li>
                    <li>Flavour :{{ product.lavour }}</li>
                    <li>Brand :{{ product.Brand }}</li>
                    <a href="#More3">More details</a>
                </div>
                <h6 style="padding:2%">Check availability and COD on your location</h6>
				<form class="form-inline" style="padding:2%;padding-top:0;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Enter your Pincode" aria-label="Search">
                </form>
                <div class="PriceTag4ProductPage4Mobile ">
                    <div style="border-bottom:1px solid black;">
                        <h5 style="padding-left:10px;"><del>MRP Rs 1400</del>
                        <b>Rs 1200 </b><a href="#" style="padding-left:10%;">(Know more)</a></h5>
                        <h6 style="padding-left:10px;">Price per piece Rs 120
                            (15% OFF) <br><b>You saved Rs 200</b></h6>
                    </div>
                    <div style="border-bottom:1px solid black;">
                        <h5 style="margin-top:10px; margin-bottom:10px;padding-left:10px">Buy in bulk & save more</h5>
                    </div>
                    <div>
                        <table class="table">
                            <thead style="background-color:#f1f1f1;">
                                <tr>
                                    <th>Select</th>
                                    <th>Quantity</th>
                                    <th>Discount</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>1-4</td>
                                    <td>4%</td>
                                    <td>144/-</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>5-8</td>
                                    <td>10%</td>
                                    <td>135/-</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>9+</td>
                                    <td>15%</td>
                                    <td>120/-</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-primary" style="width:45%;margin-left:3%;margin-bottom:2%">Buy Now</button>
                        <button type="button" class="btn " style="width:45%;margin-bottom:2%;background-color:red;margin-left:10px;color:white;">Add to cart</button>

                </div>
            </div>
            <div id="More3" class="SecondSectionOfProductPage4Mobile">
                    <h2>Product Specifications</h2>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
                    <h6 class="H6SecondSectionOfProductPage4Mobile" >Weight:</h6>
            </div>

        </div>
        </div>
    {% endblock %}
