<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="JNVLOGO.png" type="image/gif" sizes="16x16">
            <title>MyStore</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="CSS/Style4product2.css">
		<link rel="stylesheet" href="CSS/bootstrap.css">
        <link rel="stylesheet" href="CSS/all.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
        <script src="JS/bootstrap.min.js"></script>
        <script src="JS/jquery.js"></script>
        <script src="JS/jquery-ui.js"></script>
		<script src="JS/fontawesome.min.js"></script>
        <link rel="stylesheet" href="CSS/jquery-ui.css">
	</head>
	<body>
			<header>
					<nav class="navbar top navbar-light">
						<a class="navbar-brand" href="#" style="color:black;"><h3>MyStore</h3></a>
						<div class="input-group md-form form-sm form-2 pl-0 mr-auto" style="width:600px;">
						  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search.." aria-label="Search">
							  <div class="input-group-append" >
									<span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true" ></i></span>
							  </div>
						</div>
						<a class="mr-auto"><i class="fa fa-android fa-3x "></i></a>
						<a class="mr-auto"><i class="fa fa-phone fa-3x"></i></a>
						<a class="navbar-brand" id="INSign" href="#" style="color:black;"><h3>Sign In</h3></a>
						<a class="navbar-brand" href="#" style="color:black;"><h3>/ Up</h3></a>
					</nav>
					<nav class="navbar top navbar-light">
						<a href="#" class="mr-auto" style="color:black;"><i class="fa fa-map-marker"> Deliver to <br>Default Address</i></a>
						<a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Categories</h5></a>
						<a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Shop</h5></a>
						<a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Offer</h5></a>
						<a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Instant Offer</h5></a>
						<a class="navbar-brand" href="#" style="color:black;"><h3>Profile</h3></a>
						<a ><i class="fa fa-shopping-cart fa-3x"></i></a>
					</nav>
				</header>
		<div class="container-fluid" style="background-color:gray;">
		    
		    <div class="ProductImg" >
			   
			   <div style="height:80%;background-color:wheat;border-bottom:1px solid black">
			        <div class="Heading4Mobile">
			            <p class="Paragraph4M">
			                <h5 style="color:black;"><b>Haldiram</b>
				             by<a style="color:black;" href="#"> Haldiram,Patliputra</a></h5>
				        </p>
			        </div>
			        <img src="Pics/1.jpg" class="img-fluid" style="margin-left:10px;padding-right:20px;padding-bottom:20px;">
			   </div>
			   <div style="height:20%;background-color:wheat;text-align:center;"><a href="#" style="color:black;"><h6>Rate and Report<h6></a></div>
			   <section class="SECTION4Mobile"><div style="border-bottom:1px solid black;"><h4>Features</h4>
			                <li>Type of product : </li>
					        <li>Weight :</li>
					        <li>Flavour :</li>
					        <li>Company :</li>
					        <a href="#More2">More details</a>
					    </div>
					    <div>
					        <h6>Check availability and COD on your location</h6>
						    <form class="form-inline" style="margin-bottom:10px;">
                                <input class="form-control mr-sm-2" type="search" placeholder="Enter your Pincode" aria-label="Search">
                            </form>
					    </div>
			    </section>
			<div class="BuyProduct4Mobile ">
			    <div style="border-bottom:1px solid black;">
				    <h5 style="padding-left:10px;"><del>MRP Rs 1400</del>
				    <b>Rs 1200 </b><a href="#" style="padding-left:10%;">(Know more)</a></h5>
				    <h6 style="padding-left:10px;">Price per piece Rs 120
				    (15% OFF) <br><b>You saved Rs 200<b></h6>
				</div>
				<div style="border-bottom:1px solid black;">
				    <h5 style="margin-top:10px; margin-bottom:10px;padding-left:10px">Buy in bulk & save more</h5>
				</div>
				<div>
				    <table class="table">
				        <thead style="background-color:#f1f1f1;">
						    <tr>
							    <th>Select</th>
								<th>Quantity</th>
								<th>Discount</th>
								<th>/ Price</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td></td>
								<td>1-4</td>
								<td>4%</td>
								<td>144/-</td>
							</tr>
							<tr>
							    <td></td>
								<td>5-8</td>
								<td>10%</td>
								<td>135/-</td>
							</tr>
							<tr>
							    <td></td>
								<td>9+</td>
								<td>15%</td>
								<td>120/-</td>
							</tr>
						</tbody>
				    </table>
				    <button type="button" class="btn btn-primary" style="width:45%;margin-left:3%">Buy Now</button>
				    <button type="button" class="btn " style="width:45%; background-color:red;margin-left:10px;color:white;">Add to cart</button>
				    
				</div> 
				
			</div>
			</div>
			<div class="PINCheck">
			   <div class="Heading4Laptop" style="width:95%;background-color:brown;margin:10px;"><h2 style="margin:10px;padding-top:20px;color:black;">Haldiram Bhujia</h2><br><h3 style="margin:20px;padding-bottom:20px;color:black;">by<a style="color:black;" href="#"> Haldiram,Patliputra</a><h3></div>
			   <section class="SECTION4Laptop"><div style="border-bottom:1px solid black;"><h4>Features</h4>
			                <li>Type of product : </li>
					        <li>Weight :</li>
					        <li>Flavour :</li>
					        <li>Company :</li>
					        <br><a href="#More2">More details</a>
					    </div>
					    <div>
					        <h4>Check availability and COD on your location</h4>
						    <form class="form-inline" style="margin-bottom:10px;">
                                <input class="form-control mr-sm-2" type="search" placeholder="Enter your Pincode" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Check</button>
                            </form>
					    </div>
			    </section>
			    <aside class="ASIDE"><h4 style="text-align:center;">More from Haldiram</h4><p>John Keats Junior school is a co-Educational Junior School affiliated to government of Bihar for educating students</p></aside>
			</div>
			<div class="BuyProduct ">
			    <div style="border-bottom:1px solid black;">
				    <h5><del>Price Rs 1400</del></h5>
				    <h1>Rs 1200 </h1><a href="#" style="padding-left:20%;">(Know more)</a>
				    <h5>Price per piece Rs 120</h5>
				    <h5>(15% OFF) You saved Rs 200</h5>
				</div>
				<div style="border-bottom:1px solid black;">
				    <h3 style="margin-top:10px; margin-bottom:10px;">Buy in bulk & save more</h3>
				</div>
				<div>
				    <table class="table">
				        <thead style="background-color:#f1f1f1;">
						    <tr>
							    <th>Select</th>
								<th>Quantity</th>
								<th>Discount</th>
								<th>/ Price</th>
							</tr>
						</thead>
						<tbody>
						    <tr>
							    <td></td>
								<td>1-4</td>
								<td>4%</td>
								<td>144/-</td>
							</tr>
							<tr>
							    <td></td>
								<td>5-8</td>
								<td>10%</td>
								<td>135/-</td>
							</tr>
							<tr>
							    <td></td>
								<td>9+</td>
								<td>15%</td>
								<td>120/-</td>
							</tr>
						</tbody>
				    </table>
			
				    <button type="button" class="btn btn-primary" style="width:100%;"><h4>Buy Now</h4></button>
				    <button type="button" class="btn " style="width:100%;background-color:lightgreen;margin-top:10px;color:white;"><h5>Add to cart</h5></button>
				</div> 
				
			</div>
			<div id="More2" class="More">
			   <h2>Product Specifications</h2>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			   <h6 style="border-bottom:1px dotted black;height:50px;">Weight:</h6>
			</div>

			<!-- 2nd last footer -->
            <nav class="navbar" style="height:300px;width:100%; margin-top:10px;background-color:black;">
					<ul style="float:left;list-style-type:none;">
						<li style="color:white;"><a><h4>About us</h4></a></li>
						<li><a  href="#" style="color:white;">CSE</a></li>
						<li><a href="#" style="color:white;">CSE</a></li>
						<li><a href="#" style="color:white;">CSE</a></li>
					</ul>
					<ul style="float:left;list-style-type:none;">
						<li style="color:white;"><a><h4>About us</h4></a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
					</ul>
					<ul style="float:left;list-style-type:none;">
						<li style="color:white;"><a><h4>About us</h4></a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
						<li><a href="#" style="color:white;"> CSE</a></li>
					</ul>
					<ul style="float:left;list-style-type:none;">
						<li style="color:white;"><a><h4>About us</h4></a></li>
						<li ><a href="#" style="color:white;"> CSE</a></li>
						<li ><a href="#" style="color:white;"> CSE</a></li>
						<li ><a href="#" style="color:white;"> CSE</a></li>
					</ul>
				</nav>
				</div>
				<div style="margin-bottom:30px; height:20px; background:white;"></div>
				<!--last footer  -->
				<nav class="navbar fixed-bottom navbar-dark bg-dark">
						<h5 style="color:white;">@Copyright</h5>
				   </nav>	
			</div>    	
		
		
		
		
		   	  
	    <script>
            document.getElementById("INSign").addEventListener('click',function(){
            document.querySelector(".bg-model").style.display="flex";
            });
            document.querySelector(".CLOse").addEventListener('click',function(){
            document.querySelector(".bg-model").style.display="none";
            });	
        </script>	
	</body>
</html>