{% extends 'homepage/base.html' %}

{% block body %}

    <div class="container product-list">

        {% for product in all_products %}

            <div class="row product-detail">
                <div class="col-md-3">
                    <img src="#" alt="product-photo">
                </div>
                <div class="col-md-6">
                    <strong><span><a href="">{{ product.name }}Product name.</a></span></strong><br>
                    <strong>
                        <small>Sold By: <a href="">Shop name</a></small>
                    </strong><br>
                    <button type="button" class="btn btn-outline-secondary btn-sm">-</button>
                    <span>{% if product.quantity %} {{ product.quantity }}{% else %}1{% endif %}</span>
                    <button type="button" class="btn btn-outline-secondary btn-sm">+</button>
                </div>
                <div class="col-md-3" style="margin-top: 20px;">
                    Rs.100.00 x 3 = Rs.300.00
                </div>
            </div>

        {% endfor %}

    </div>

    <style>
        .product-detail {
            background-color: #0be881;
            border: solid 1px #09e83e;
            border-radius: 10px;
            margin: 10px;
            padding: 10px;
        }

        .product-list {
            min-height: 400px;
        }
    </style>

{% endblock %}


