{% extends 'homepage/base.html' %}
{% load static %}
{% block body %}
    <div class="container" style="margin-top: 10px; align-items: center;">
            {% for product in products %}


                <div class="product" style=" width:200px; height: 320px; border: 0.1px solid grey; padding: 2px;background-color: #fff; float: left; margin: 5px;">
                    <a href="{% url 'product:productView' product.pk %}" style=" text-decoration: none;">
                        <h6 style="text-align: center;">
                            {{ product.name }}
                            <img src="{{ product.image_link.url }}" alt="thumbnail" width="150px" ><br>
                        </h6>
                    </a>
                    <b class="PriceDetailsInTemplate"><small><del>MRP Rs. {{ product.price }}</del></small>
                        <br>Price Rs. {{ product.price }}
                    </b><br>

                    <a href="#" style="alignment: bottom;"><img src="{% static 'homepage/Pics/checkout.png' %}" class="BuyNowButtonStyle" alt="Buy"></a>
                    <a href="#"><i class="fas fa-cart-plus AddToCartButtonStyle"></i></a>
                </div>&nbsp;
            {% endfor %}
    </div>
    <!-- Go to page n -->
{% endblock %}
