.CodingOfProductPage4Laptop{
    display: flex;
}
.LeftSideProductPage{
    width:70%;
    min-height: 200px;
}
.RightSideProductPage{
    width: 30%;
    min-height: 200px;

}
.ProductImg{
  width: 33%;
  margin: 2%;
  margin-right: 1%;
  max-height: 350px;
  background-color: white;
}
.PINCheck{
    width:70%;
    height: 500px;
	background-color:white;
    margin:2%;
    margin-left: 0;
}
.Heading4Product{
    width: 95%;
    margin: 2%;
    background-color: #eee;
    height: 120px;
}
.BuyProduct{
	width:95%;
    background-color:white;
    margin:2%;
    margin-top: 4%;
    margin-left: 0;
	position: -webkit-sticky;
    position: sticky;
	top: 0;
}
.More{
	width:95%;
	background-color:white;
	margin: 2%;
}
.CodingOfProductPage4Mobile{
    display: none;
}
@media only screen and (max-width: 720px) {
    .CodingOfProductPage4Mobile{
        display: block;
    }
    .CodingOfProductPage4Laptop{
        display: none;
    }
    .FirstSectionOfProductPage4Mobile{
      width: 94%;
      min-height: 500px;
      margin: 3%;
      background-color: white;
    }
    .PriceTag4ProductPage4Mobile{
            width:100%;
    }
    .SecondSectionOfProductPage4Mobile{
      width: 94%;
      min-height: 100px;
      margin: 3%;
      background-color: white; 
      padding: 2%;
    }
    .ProductImg4Mobile{
        width:92%;max-height:300px;margin:4%;margin-bottom:2%;
    }
    .RateAndReview4MobileInProductPage{
        text-align: center; border-bottom: 1px solid black;
    }
    .ShortFeatures4MobileOfAProduct{
        border-bottom:1px solid black;padding:2%;
    }
    .H6SecondSectionOfProductPage4Mobile{
        border-bottom:1px dotted black;height:50px;
    }
}