<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="icon" href="{# link to logo #}" type="image/gif" sizes="16x16">
                <title>MyStore</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'shop/CSS/Style4shop.css' %}">
		<link rel="stylesheet" href="{% static 'shop/CSS/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'shop/CSS/all.min.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
        <script src="{% static 'shop/JS/bootstrap.min.js' %}"></script>
        <script src="{% static 'shop/JS/jquery.js' %}"></script>
        <script src="{% static 'shop/JS/jquery-ui.js' %}"></script>
		<script src="{% static 'shop/JS/fontawesome.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'shop/CSS/jquery-ui.css' %}">
	</head>
	<body>
	    <header>
		    <nav class="navbar top navbar-light">
			    <a class="navbar-brand" href="#" style="color:black; "><h3>MyStore</h3></a>
                <div class="input-group md-form form-sm form-2 pl-0 mr-auto" style="width:600px;">
                  <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search.." aria-label="Search">
                      <div class="input-group-append" >
                            <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true" ></i></span>
                      </div>
                </div>
                <a class="mr-auto"><i class="fa fa-android fa-3x "></i></a>
                <a class="mr-auto"><i class="fa fa-phone fa-3x"></i></a>
                <a class="navbar-brand" id="INSign" href="#" style="color:black;"><h3>Sign In</h3></a>
                <a class="navbar-brand" href="#" style="color:black;"><h3>/ Up</h3></a>
            </nav>
            <nav class="navbar top navbar-light">
                <a href="#" class="mr-auto" style="color:black;"><i class="fa fa-map-marker"> Deliver to <br>Default Address</i></a>
                <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Categories</h5></a>
                <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Shop</h5></a>
                <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Offer</h5></a>
                <a class="navbar-brand mr-auto" href="#" style="color:black;"><h5>Instant Offer</h5></a>
                <a class="navbar-brand" href="#" style="color:black;"><h3>Profile</h3></a>
                <a ><i class="fa fa-shopping-cart fa-3x"></i></a>
            </nav>
        </header>

        <!--Pop up page  -->
        <div class="bg-model" style="text-align:center; float:right;">
            <div class="model-content">
                <form action="">
                    <h2 class="CLOse">+</h2>
                    <input type="text" placeholder="Name">
                    <input class="text" placeholder="E-mail">
                    <a href="" class="button">submit</a>
                </form>
            </div>
        </div>

		<div class="container-fluid" style="background-color:gray;">
			<div style="height:150px; width:100%;background-color:wheat;float:left;border-bottom:1px solid black;border-bottom-left-radius:70px;border-top-left-radius:70px;">
			        <img src="{% static 'shop/Pics/2.jpg' %}" class="rounded-circle" style="width:150px;height:150px;float:left;">
					<div>
						<h4 style="float:left;text-align:center;padding-top:10px;"><a href="#" style="color:black;">Haldiram,Patliputra</a></h4>
						<h3 style="text-align:center;padding-top:10px;"><a href="#" style="color:black;">About|</a><a href="#" style="color:black;">Direction</a></h3>
					</div>
			</div>

            <img src="{% static 'shop/Pics/3.jpg' %}" class="img-fluid" style="height:200px;width:100%;padding-top:10px;">
			<div class="NewProduct">
			    <b>New Product</b><br>
				<div class="NewPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
                    <div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>
				<div class="NewPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
					<div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>
				<div class="NewPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
					<div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs.18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>
			</div>

			<div class="TopProduct">
			    <b>Top Product</b><br>
				<div class="topPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
					<div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>

				<div class="topPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
					<div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>
				<div class="topPro">
				    <div style="width:40%;display:inline-block;">
				     <img src="{% static 'shop/Pics/1.jpg' %}" style="width:90%;height:130px;margin-top:5px;margin-left:3%"><br>
					 <a href="#" style="color:black"><b style="padding-left:40px;">Bujhia</b></a>
					</div>
					<div style="width:55%;display:inline-block;margin:0px">
					 <b><del>MRP Rs20</del> Price Rs18</b>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-top:3%;margin-bottom:3%"><h6>Buy Now</h6></button>
					 <button type="button" class="btn btn-primary" style="width:100%;margin-bottom:40%"><h6>Add to cart</h6></button>
					</div>
				</div>
			</div>
			<div id="tabs" style="background-color:wheat;">
                <ul>
                    <li><a href="#tabs-1">Product list</a></li>
                    <li><a href="#tabs-2">Reviews</a></li>
                    <li><a href="#tabs-3">About</a></li>
                </ul>
                 <div class="TAB" id="tabs-1">
				     <p >
                        <div class="List">
                            <ul>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
						<div class="List">
                            <ul>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                            </ul>
                        </div>
                        <div class="List">
                            <ul>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Product list</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">About</a></li>
                                </ul>
                        </div>
						<div class="List">
                            <ul>
					        <li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
                                </ul>
                        </div>
						<div class="List">
                            <ul>
					        <li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
                                </ul>
                        </div>
						<div class="List">
                            <ul>
					        <li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
							<li><a href="#">Product list</a></li>
					        <li><a href="#">Reviews</a></li>
                            <li><a href="#">About</a></li>
                            </ul>
                        </div>
					</p>
                </div>
                <div id="tabs-2">
                    <p>
                       <h4><b>Haldiram Rating</b> <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h4>
					     <h5><b>5 Star</b> <meter min="0" max="10" value="5"></meter><br></h5>
						  <h5><b>4 Star</b> <meter min="0" max="10" value="4"></meter><br></h5>
						 <h5> <b>3 Star</b> <meter min="0" max="10" value="2"></meter><br></h5>

					   <h3><b>Comments:-</b></h3>
                    </p>

                </div>
                <div id="tabs-3">
                    <p>
                            John Keats Junior School is providing excellent educational facility and opportunities that are highly necessary for students.We aim to shape future of our students in such a manner that they can face and overcome upcoming challenges in life.
                            Our vision is based on these following values:-
                            1.Focus:- Students are being focused to reach their diverse goals in smart manner.
                            2.Excellence:-Maintain a high standard of integrity and performance leading to the achivement of academics.
                            3.Life long Learning:-Being as enthusiastic and independent thinkers that leads for their growth.
                            4.Diversity:-Diversity gives a challenge to students by fostering a competitive envirnonment among students for JNV preparation.
                    </p>
                </div>
            </div>
			<!-- 2nd last footer -->
            <nav class="navbar" style="height:300px; margin-top:10px;background-color:black;">
                <ul style="float:left;list-style-type:none;">
                    <li style="color:white;"><a><h4>About us</h4></a></li>
                    <li><a  href="#" style="color:white;">CSE</a></li>
                    <li><a href="#" style="color:white;">CSE</a></li>
                    <li><a href="#" style="color:white;">CSE</a></li>
                </ul>
                <ul style="float:left;list-style-type:none;">
                    <li style="color:white;"><a><h4>About us</h4></a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                </ul>
                <ul style="float:left;list-style-type:none;">
                    <li style="color:white;"><a><h4>About us</h4></a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                    <li><a href="#" style="color:white;"> CSE</a></li>
                </ul>
                <ul style="float:left;list-style-type:none;">
                    <li style="color:white;"><a><h4>About us</h4></a></li>
                    <li ><a href="#" style="color:white;"> CSE</a></li>
                    <li ><a href="#" style="color:white;"> CSE</a></li>
                    <li ><a href="#" style="color:white;"> CSE</a></li>
                </ul>
            </nav>
            <div style="margin-bottom:30px; height:20px; background:white;"></div>
            <!--last footer  -->
            <nav class="navbar fixed-bottom navbar-dark bg-dark">
       		     <h5 style="color:white;">@Copyright</h5>
       		</nav>
		</div>
		<script>
		    $(document).ready(function(){
              $('#tabs').tabs();
            })
            document.getElementById("INSign").addEventListener('click',function(){
            document.querySelector(".bg-model").style.display="flex";
            });
            document.querySelector(".CLOse").addEventListener('click',function(){
            document.querySelector(".bg-model").style.display="none";
            });
        </script>
	</body>
</html>
